html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

#Popular-movies {
  scroll-margin-top: 70px;
}

.Slider {
  margin-top: 100px;
}

.Showing {
  font-weight: 550;
}

.Movie-title {
  font-weight: 600;
  font-size: large;
}

.Movie-date {
  font-weight: 300;
  font-style: italic;
}

.Movie-rate {
  font-weight: 500;
  color: blue;
}

.footer {
  height: 50px;
  background-color: #2b3035;
  color: #f2f3f3;
}

/* Membuat gradasi hitam di bawah gambar */
.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
  z-index: 1;
}

/* Memastikan caption berada di depan gradasi */
.carousel-caption {
  z-index: 2;
  bottom: 10%; /* Posisi teks agak naik sedikit */
  text-align: left; /* Teks rata kiri lebih terlihat modern */
  left: 5%;
}

.carousel-title {
  font-size: 2.5rem;
  font-weight: 800;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5rem;
}
