h1 {
    font-weight: 800;
}

a {
    text-decoration: none;
}

.Showing {
    font-weight: 550;
}

.Movie-title {
    font-weight: 600;
    font-size: large;
}

.Movie-date {
    font-weight: 300;
    font-style: italic;
}

.Movie-rate {
    font-weight: 500;
    color: blue;
}

.bordered {
    border: 2px solid black;
}

.outline {
    text-shadow: 2px 2px black;
}